{% extends "qingbank/base.html" %}

{% block title %}
{{_('Contacts')}}-{{contact.name}}
{% endblock title%}


{% block main %}
<div class="row">
  <div class="col-md-12">

    <div class="page-header">
      <h2>{{contact.name}} <small>{{contact.department.name}} </small></h2>
    </div>

    <dl>
      <dt><h4>{{_('Contact info')}}</h4></dt>
      <dd>
        <dl class="dl-horizontal">
          <dt>{{_('Telephone:')}}</dt><dd>{{contact.telephone or ''}}</dd>
          <dt>{{_('Inner phone:')}}</dt><dd>{{contact.innerphone or ''}}</dd>
          <dt>{{_('Mobile:')}}</dt><dd>{{contact.mobile or ''}}</dd>
          <dt>{{_('Fax:')}}</dt><dd>{{contact.fax or ''}}</dd>
        </dl>
      </dd>
    </dl>
  </div>
</div>
{% endblock main%}

