{% extends "index/base.html" %}

{% block title %}
    我的家
{%endblock%}

{% block container %}
<!--<img src='http://pic1.ooopic.cn/uploadfilepic/ziku/2008-08-09/OOOPIC_vipvip_2008080915135169411c08d6390410201.jpg'>-->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <img src="http://pic1.ooopic.com/uploadfilepic/ziku/2008-08-09/OOOPIC_vipvip_20080809151228d3fdaa3fc26bbb74154.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><h3>巴金《家》在线阅读

长篇小说《家》，是文学大师巴金的代表作，也是中国现代文学史上一部优秀的现实主义长篇巨制。

家是最受读者欢迎的《激流三部曲》（《家》、《春》、《秋》）中最受欢迎的一本。

在小说中作者以娴熟的艺术手段，塑造了众多的富有典型意义的文学形象。

《家》也许不是巴金最好的作品，但绝对是最有人缘的一本，可是它的问世并非一帆风顺。最初，小说在《时报》上连载，每天一千字左右，后来因为战争中断过一段时间，《时报》又换了编辑。巴金突然接到一封信抱怨小说太长，报社不想继续登下去。收到信后巴金将剩下的稿子全寄了过去，并声明如果报纸愿意登完，他可以不要稿费。用他的话说，“为读者写作”的他“总算尽了作家的责任”。这样，《家》才得以完整面世。

《家》描写的是“五四”之后，成都地区一个封建大家庭走向崩溃的故事。故事集中在1920年冬到1921年秋的八九个月时间里，揭露了封建专制制度封建专制制度的罪恶，撕开了在温情关系掩盖下的大家庭的勾心斗角，暴露了所谓“诗礼传家”的封建大家庭的荒淫无耻，也描写了新思潮听唤醒的一代青年的觉醒和反抗，从而宣告了这个封建大家庭必然崩溃的命运。觉新，屈服于封建专制制度没有反抗意识。觉民；与琴结婚，敢于反抗封建专制制度。梅，喜欢觉新，但屈服封建专制制度，最后因伤心而病故。鸣凤，内心渴望爱情却又不敢表达出来，很无奈。</p>
    </h3></div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="http://sh.jiaju.sina.com.cn/images/2012/0704/U5483P949DT20120704143909.jpg">
    </div>
</div>
</div>
{% endblock %}