<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="qc:admins" content="136467546634036375" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">

    <title>清远大学城</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/3partylib/bootstrap/css/bootstrap.min.css') }}" media="screen">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/cover.css') }}" media="screen">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

		<div class="inner cover">
		<img src="{{url_for('static', filename='images/full-logo.png')}}" alt="0763dxc" class="">
		</br></br>
            <p class="lead">这里的生活，Have You，With Me</p>
		<div class="container-fluid">
		    <div class="row" style="border-bottom:solid red 1px">
		    <div class="col-md-12 text-right">
		    <a href="{{ url_for('security.login', next=request.path) }}">{{_('Login')}}</a> <!--| <a href="{{ url_for_security('register') }}">{{_('Signup')}}</a>-->
		    </div>
		    </div>
		</div>
            <p class="lead">
              <ul class="nav nav-pills nav-justified">
				<li role="presentation"><h2><a href="{{url_for('job.list_job')}}">我要Job</a></h2></li>
				<li role="presentation"><h2><a href="{{url_for('carpool.list_carinfo')}}">出行Easy</a></h2></li>
				<li role="presentation"><h2><a href="{{url_for('blog.list_blog', category=1)}}">校园News</a></h2></li>
				<li role="presentation"><h2><a href="{{url_for('blog.list_blog', category=1)}}">点滴Life</a></h2></li>
			  </ul>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
				<div class="text-center">
				 Copyright© 2014 <a href='http://www.miibeian.gov.cn/'><span>粤ICP备14019158号-2</span></a>
				 	<!--百度统计-->
				<script type="text/javascript">
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F84f192aec0d5e251363a2be90ef26b26' type='text/javascript'%3E%3C/script%3E"));
				</script>
			</div>
            </div>
          </div>

        </div>

      </div>

    </div>

	<script src="{{ url_for('static', filename='base/3partylib/jquery/jquery.min.js') }}"></script>
	<script	src="{{ url_for('static', filename='base/3partylib/bootstrap/js/bootstrap.min.js') }}"></script>
  

  </body>
</html>