{% extends "xiaoyuan/base.html" %}

{% from "macros/_pager.html" import render_pager %}

{% block rightmain %}
<div class="row">
    {% for msg in msgs.items %}
    <div class="col-md-12 item">
        <div class="row">
            <div class="col-md-10">
                <a href="{{url_for('.detail_msg', msg_id=msg.id)}}">
                    <h4 class="list-group-item-heading" >{{msg.content}}</h4>
                    <!--<p class="list-group-item-text">...</p>-->
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>[{{msg.sender.nikename or msg.sender.email or msg.sender.username}}] {{_('send')}} [{{momentjs(msg.update_at or msg.create_at).format('LLLL')}}]</h5>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
</div>
{% endfor %}
</div>
<!--pager-->
<div class="row">
    <div class="col-md-12">
    {{render_pager(msgs,'.list_msg') }}
    </div>
</div>
{% endblock rightmain%}