{% extends "security/profile.html" %}

{% block title %}
我的班级
{% endblock title%}


{% block rightmain %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h3>申请列表</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 item">
	{% for apply in applies.items %}
		<div class="row">
			<div class="col-md-9">
				<h4 class="list-group-item-heading" >
				<a href="#">【{{apply.user}}】</a> 申请加入 【{{apply.clazz.name}}】
				</h4>
			</div>
		</div>
		<hr/>
	{% endfor %}
	</div>
</div>
{% endblock rightmain %}