{% extends "qingbank/base.html" %}

{% block title %}
通讯录
{% endblock title%}


{% block main %}
	<form method="get" action="{{ url_for('.list_contact_page', page=1) }}">
		<div class="input-group">
		  <input type="text" class="form-control" id="searchContact" name="searchContact" 
		  placeholder="可以输入拼音，拼音首字母，全名" value="{{searchContact}}">
		  <div class="input-group-btn">
		  	<button class="btn btn-primary" id="search">查找</button>
		  </div>
		</div>
	</form>
    <hr/>
    <ul class="list-unstyled">
		{% for contact in contacts.items %}
        <li>
            <div class="row">

                <div class="col-md-6">
                    <h4 class="list-group-item-heading"><a target="blank" href="{{url_for('.contact_detail', id=contact.id)}}">{{contact.name}}</a></h4>
                    <p class="list-group-item-text"> {{contact.department.name}}</p>
                </div>
                <div class="col-md-6 text-left"> 
                	<dl class="dl-horizontal">
			  <dt>办公电话：</dt><dd>{{contact.telephone or '无'}} </dd>
			  <dt>内线电话：</dt><dd>{{contact.innerphone or '无'}}</dd>
			</dl>  
                </div>
             </div>
        </li>
        <li><hr></li>
		{% endfor %}
	</ul>

  <ul class="pagination">
    {% if contacts.has_prev %}
      <li><a href="{{ url_for('.list_contact_page', page=contacts.prev_num, searchContact=searchContact) }}">&laquo;</a></li>
    {% endif %}
    {% for page in contacts.iter_pages(left_current=3, right_current=4) %}
      {% if page %}
        {% if page != contacts.page %}
          <li><a href="{{ url_for('.list_contact_page', page=page, searchContact=searchContact) }}">{{ page }}</a></li>
        {% else %}
           <li class="active"><span>{{page}}<span class="sr-only">{{page}}</span></span></li>
        {% endif %}
      {% else %}
        <li><span class=ellipsis>…</span><li>
      {% endif %}
    {% endfor %}
    {% if contacts.has_next %}
      <li><a href="{{ url_for('.list_contact_page', page=contacts.next_num, searchContact=searchContact) }}">&raquo;</a></li>
    {% endif %}
  </ul>

{% endblock main%}

