{% extends "qingbank/base.html" %}

{% block title %}
通讯录-{{contact.name}}
{% endblock title%}


{% block main %}
<div class="row">
  <div class="col-md-12">

    <div class="page-header">
      <h2>{{contact.name}} <small>{{contact.department.name}} </small></h2>
    </div>

    <dl>
      <dt><h4>联系方式</h4></dt>
      <dd>
        <dl class="dl-horizontal">
          <dt>办公电话：</dt><dd>{{contact.telephone or '无'}}</dd>
          <dt>内线电话：</dt><dd>{{contact.innerphone or '无'}}</dd>
          <dt>移动电话：</dt><dd>{{contact.mobile or '无'}}</dd>
          <dt>传真电话：</dt><dd>{{contact.fax or '无'}}</dd>
        </dl>
      </dd>
    </dl>
  </div>
</div>
{% endblock main%}

