{% extends "qingbank/base.html" %}

{% block title %}
清远农商银行
{% endblock title%}


{% block container %}
<div class="row">
 	<div class="col-md-3 text-center">
 	<a href="{{ url_for('.list_contact_page', page=1) }}">
 		<img alt="" src="{{ url_for('static', filename='qingbank/icon/contact_72px.ico') }}">
 		<h1>通讯录</h1>
 	</a>
	</div>
	<!--
 	<div class="col-md-3 text-center">
 	<a href="{{ url_for('.list_contact_page', page=1) }}">
 		<img alt="" src="{{ url_for('static', filename='qingbank/icon/saraly_72px.png') }}">
 		<h1>工资</h1>
 	</a>
	</div>	
	-->
</div>
{% endblock container%}

