{% extends "blog/base.html" %}

{% from "macros/fieldmacros.html" import render_form %}

{% block title %}
{{_('Write blog')}}
{% endblock title%}

{% block actionbar %}
<div class="row">
	<div class="col-md-12">
		<div class="btn-group pull-right" style="margin-bottom: 12px">
			<a href="{{url_for('.list_blog', page=0, category=category)}}" type="button" class="btn btn-default">看文章</a>
		</div>
	</div>
</div>
{% endblock actionbar %}

{% block breadpiece %}
{{super()}}
<li><a href="{{url_for('blog.create_blog', category=category)}}">写文章</a></li>
{% endblock breadpiece %}

{% block container %}
<div class="col-md-12">
	{{render_form(blog_form, url_for('.create_blog', category=category), 'blog_form')}}
</div>
{% endblock container %}

{% block pagescript %}
<script type="text/javascript">

</script>
{% endblock pagescript%}