{% extends "blog/base.html" %}

{% from "macros/_pager.html" import render_pager %}

{% block subtitle %}
    {% if category==0 %}
    Miss Lu
    {% elif category==1 %}
    校园News
    {% elif category==2 %}
    点滴Life
    {% endif %}
{% endblock subtitle%}

{% block actionbar %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right" style="margin-bottom: 12px">
            {% if has_right('create', 'blog', 'blog') %}
            <a href="{{url_for('.create_blog', category=category)}}" type="button" class="btn btn-success">写文章</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock actionbar %}

{% block rightmain %}
<div class="row">
    {% for blog in blogs.items %}
    <div class="col-md-12 item">
        <div class="row">
            <div class="col-md-10">
                <a href="{{url_for('.detail_blog', blog_id=blog.id, category=category)}}">
                    <h4 class="list-group-item-heading" >{{blog.title}}</h4>
                    <!--<p class="list-group-item-text">...</p>-->
                </a>
            </div>
            <div class="col-md-2">
                {# 有权限才可以编辑 #}
                <div class="edit-btns hidden">
                    {% if blog.user == current_user and has_right('delete', 'blog', 'blog') %}
                    <button type="button" data-del-id="{{blog.id}}" class="btn btn-danger btn-xs btn-delete">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    {% endif %}
                    {% if blog.user == current_user and has_right('change', 'blog', 'blog') %}
                    <a href="{{url_for('.change_blog', blog_id=blog.id, category=category)}}" type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>[{{blog.user.nikename or blog.user.email or blog.user.username}}] {{_('post')}} [{{momentjs(blog.update_at or blog.create_at).format('LLLL')}}]</h5>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
</div>
{% endfor %}
</div>
<!--pager-->
<div class="row">
    <div class="col-md-12">
    {{render_pager(blogs,'.list_blog') }}
    </div>
</div>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
$(function(){
    var blogId = 0;
    $('.btn-delete').click(function(){
        blogId = $(this).attr('data-del-id');
        $('#infoModal').modal();
    });

    $('.btn-ok').click(function(){
        url = "{{url_for('.delete_blog', blog_id=0, category=category)}}";
        pos = url.lastIndexOf('/');
        url_delete = url.substr(0,pos+1) + blogId;
        location.pathname = url_delete;
    });

    $('.item').mouseover(function(){
        $(this).find('.edit-btns').removeClass('hidden');
    });

    $('.item').mouseout(function(){
        $(this).find('.edit-btns').addClass('hidden');
    });
});
</script>
{% endblock pagescript%}