{% extends "index/base.html" %}

{% block sublogo %}
<a class="navbar-brand" href="{{ url_for('job.list_job') }}">{{_('Job')}}</a>
{% endblock sublogo %}

{% block breadpiece %}
{{super()}}
<li><a href="{{url_for('job.list_job')}}">{{_('Job')}}</a></li>
{% endblock breadpiece %}

{% block actionbar %}
<div class="row">
	<div class="col-md-12">
		<div class="btn-group pull-right" style="margin-bottom: 12px">
			<a href="{{url_for('.list_job')}}" type="button" class="btn btn-success">{{_('Job list')}}</a>
		</div>
	</div>
</div>
{% endblock actionbar %}