{% extends "job/base.html" %}

{% from "macros/fieldmacros.html" import render_form %}

{% block title %}
{{_('Report job')}}
{% endblock title%}

{% block actionbar %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right" style="margin-bottom: 12px">
            <a href="{{url_for('.list_job')}}" type="button" class="btn btn-default">{{_('Job list')}}</a>
        </div>
    </div>
</div>
{% endblock actionbar %}

{% block breadpiece %}
{{super()}}
<li><a href="{{url_for('job.report_job', job_id=job_id)}}">Report</a></li>
{% endblock breadpiece %}

{% block container %}
<div class="col-md-12">
    {{render_form(report_form, url_for('.report_job', job_id=job_id), 'report_form')}}
</div>
{% endblock container %}
