<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock title%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/3partylib/bootstrap/css/bootstrap.min.css') }}" media="screen">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/3partylib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}"></link>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/3partylib/select2/select2.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/3partylib/select2/select2-bootstrap.css') }}" >
<style type="text/css">
.border-r {
    border:solid 1px red;
}
.border-g {
    border:solid 1px green;
}
.border-b {
    border:solid 1px lightblue;
}
@media (max-width: 990px) {
    .affix {
        position: static;
    }
}

@media (min-width: 992px) {
    .affix{
        width: 263px;
    }
    .affix-bottom{
        width:263px;
    }
}

/* body { padding-top: 51px; } */
body { padding-top: 71px; }
body { padding-bottom: 71px; }

</style>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-4">
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
	     
</div></div></div>

	<script src="{{ url_for('static', filename='base/3partylib/jquery/jquery.min.js') }}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script	src="{{ url_for('static', filename='base/3partylib/bootstrap/js/bootstrap.min.js') }}"></script>

	  <!-- 本页js -->
	  {% block pagescript %}

	  <script src="{{ url_for('static', filename='base/3partylib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
	  <script src="{{ url_for('static', filename='base/3partylib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
	  <script src="{{url_for('static', filename="base/3partylib/select2/select2.min.js")}}"></script>	
	  <script type="text/javascript">
		$(function() {
		    $(".form_datetime").datetimepicker({
			  format: "dd MM yyyy - hh:ii"
		    });
		    
		    $('#e1').select2();
		    $('#e3').select2({
		    });
		    $('#hidden').select2({
			  multiple: true,
			  ajax:{
						  url: "/security/search_user",
						  dataType: 'json',
						  data: function(term, page){
							  return {
								  term: term,
								  page: page,
								  per_page: 20
							  }
						  },
						  results: function(data, page){
							  var more = (page * 20) < data.total;
							  return {
								  results: data.results,
								  more: more
							  }
						  }
					  }
		    });		    
		});
	  </script>
	  {% endblock pagescript%}
</body>
</html>