<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock title%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/3partylib/bootstrap/css/bootstrap.min.css') }}" media="screen">
<style type="text/css">
.border-r {
    border:solid 1px red;
}
.border-g {
    border:solid 1px green;
}
.border-b {
    border:solid 1px lightblue;
}
@media (max-width: 990px) {
    .affix {
        position: static;
    }
}

@media (min-width: 992px) {
    .affix{
        width: 263px;
    }
    .affix-bottom{
        width:263px;
    }
}

/* body { padding-top: 51px; } */
body { padding-top: 71px; }
body { padding-bottom: 71px; }

</style>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<script src="{{ url_for('static', filename='base/3partylib/jquery/jquery.min.js') }}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script	src="{{ url_for('static', filename='base/3partylib/bootstrap/js/bootstrap.min.js') }}"></script>

	<!-- 本页js -->
	{% block pagescript %}
	<script type="text/javascript"></script>
	{% endblock pagescript%}
</body>
</html>