{% extends "carpool/base.html" %}

{% from "macros/fieldmacros.html" import render_error, render_form %}

{% block subtitle %}
发布包车信息
{% endblock %}

{% block actionbar %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right" style="margin-bottom: 12px">
            <a href="{{url_for('.list_carinfo')}}" type="button" class="btn btn-default">{{_('View carinfos')}}</a>
        </div>
    </div>
</div>
{% endblock actionbar %}

{% block breadpiece %}
{{super()}}
<li><a href="{{url_for('carpool.create_carinfo')}}">{{_('Publish carinfos')}}</a></li>
{% endblock breadpiece %}

{% block container %}
<div class="col-md-12">
    <div class="well">
    {{render_form(form, url_for('.create_carinfo'), 'carinfo_form')}}
    </div>
</div>
{% endblock container %}

<!-- 本页js -->
{% block pagescript %}
    {%- include "macros/datetimepicker.html" -%}
{% endblock pagescript%}