{% extends "qingbank/base.html" %}

{% from "macros/fieldmacros.html" import render_error %}

{% block container %}

<div class='row'>
	<div class="col-md-8">
		{% include "security/_messages.html" %}		
	</div>
	<div class="col-md-4">
		<form class="form-signin" action="{{ url_for('.bind_user') }}" method="post" name="bind_form">
			{{ bind_form.hidden_tag() }}
			<h2 class="form-signin-heading">绑定帐号</h2>

			<div class="form-group">
				{{bind_form.email(class="form-control", placeholder="用户名/邮箱", autofocus="")}} 
			</div>
			{{render_error(bind_form.email)}}
			<div class="form-group">
				{{bind_form.password(class="form-control", placeholder="密码")}} 
			</div>
			{{render_error(bind_form.password)}}
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">绑定</button>
				<button class="btn btn-lg btn-primary btn-block" type="submit">跳过此步</button>
			</div>
			<input type="hidden" name="next" value="{{ next }}" />
			<input type="hidden" name="next" value="http://localhost:5000/qingbank">
		</form>
	</div>
	
</div>
{% endblock %}