{% extends "qingbank/base.html" %}

{% block sidebar %}
<div data-spy="affix">
	<ul class="list-group">
		<li class="list-group-item"><a href="{{ url_for('security-frontend.profile_contact') }}">{{_('Contact')}}</a></li>
		{% if not current_user.openid %}
		<li class="list-group-item"><a href="{{ url_for_security('change_password') }}">{{_('Change password')}}</a></li>
		{% endif %}
		{% if current_user.pub_jobs %}
		<li class="list-group-item"><a href="{{ url_for('security-frontend.list_publisedjobs', status=1, page=1) }}">{{_('Published jobs')}}</a></li>
		{% endif %}		
	</ul>
</div>
{% endblock sidebar %}

