{% extends "security/base.html" %}

{% block sidebar %}
<div data-spy="affix">
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('security-frontend.profile_contact') }}">个人中心</a></li>
        {% if not current_user.openid %}
        <li class="list-group-item"><a href="{{ url_for_security('change_password') }}">{{_('Change password')}}</a></li>
        {% endif %}
        {% if current_user.pub_jobs %}
        <li class="list-group-item"><a href="{{ url_for('job.list_publisedjobs', status=1, page=1) }}">{{_('My published jobs')}}</a></li>
        {% endif %}
        <li class="list-group-item"><a href="{{ url_for('job.list_publisedjobs', status=1, page=1) }}">我的博客</a></li>
        <!--<li class="list-group-item"><a href="{{ url_for('job.list_publisedjobs', status=1, page=1) }}">我的收藏</a></li>-->
        <li class="list-group-item"><a href="{{ url_for('xiaoyuan.list_myclass') }}">我的班级</a></li>
        {% if current_user.class_meminfo %}
        <li class="list-group-item"><a href="{{ url_for('xiaoyuan.detail_classmemberinfo', userid=current_user.id) }}">我在班级的信息</a></li>
        {% endif %}
        <li class="list-group-item"><a href="{{ url_for('xiaoyuan.list_class_apply', page=1) }}">班级申请</a></li>
    </ul>
</div>
{% endblock sidebar %}

