{% extends "security/profile.html" %}

{% block rightmain %}
    <ul class="nav nav-tabs" id="job_tab" role="tablist">
        <li class="active"><a href="{{url_for('security-frontend.list_publisedjobs', status=1)}}">审核通过</a></li>
        <li><a href="{{url_for('security-frontend.list_publisedjobs', status=2)}}">审核不通过</a></li>
        <li><a href="{{url_for('security-frontend.list_publisedjobs', status=0)}}">审核中</a></li>
    </ul>
{% endblock rightmain %}

<!-- 本页js -->
{% block pagescript %}
<script type="text/javascript">
    $('#job_tab a').click(function (e) {
      e.preventDefault()
      $(this).
    })
</script>
{% endblock pagescript%}