{% extends "qingbank/base.html" %}

{% from "macros/fieldmacros.html" import render_error %}

{% block container %}

{% block title %}
{{_('Activate account')}}
{% endblock title%}

{% include "macros/_messages.html" %}
<form class="form-horizontal" action="{{ url_for_security('send_confirmation') }}" method="post" name="send_confirmation_form">
	{{ send_confirmation_form.hidden_tag() }}
	<h2>{{_('Resend confirmation instructions')}}</h2>

	<div class="form-group">
		{{send_confirmation_form.email(class="form-control", placeholder=_("Email"), autofocus="")}}
		{{render_error(send_confirmation_form.email)}}
	</div>
	<div class="form-group">
		<button class="btn btn-lg btn-primary btn-block" type="submit">{{_('OK')}}</button>
	</div>
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}