{% extends "index/base.html" %}

{% block subtitle %}
欢迎你~
{% endblock %}

{% block breadcrumb %}
{% endblock%}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block logo %}
            <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/logo.png')}}" /></a>
            <!--
            {% block sublogo %}
            {% endblock sublogo %}
            -->
            {% endblock logo %}
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user and current_user.is_authenticated() %}
            <li><a href="{{ url_for('security-frontend.index') }}">
                {% if current_user.avatar %}
                <span><img width="20" height="20" src="{{current_user.avatar}}" class="img-rounded"></span>
                {% else %}
                <span class="glyphicon glyphicon-user"></span>
                {% endif %}
                    {{current_user.nickname or current_user.username or current_user.email}}
            </a>
            </li>
            {% if current_user.canAdmin() %}
            <li><a href="/admin"><span class="glyphicon glyphicon-cog"></span> {{_('Admin')}}</a></li>
            {% endif %}
            <li><a href="{{ url_for('security.logout', next=request.path) }}"><span class="glyphicon glyphicon-log-out"></span> {{_('Exit')}}</a></li>
            {% else %}
            <li><a href="{{ url_for('security.login', next=request.path) }}"><span class="glyphicon glyphicon-log-in"></span> {{_('Login')}}</a></li>
            {% if security.registerable %}
            <li><a href="{{ url_for_security('register') }}">{{_('Signup')}}</a></li>
            {% endif %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">更多<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% if security.recoverable %}
            <li><a href="{{ url_for_security('forgot_password') }}">{{_('Forget paswword')}}</a></li>
            {% endif %}
            {% if security.confirmable %}
            <li><a href="{{ url_for_security('send_confirmation') }}">{{_('Activate account')}}</a></li>
            {% endif %}
        </ul>
    </li>


    {% endif %}
</ul>
</div>
</div><!-- /.container -->
</nav>
{% endblock navbar %}

{% block body %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/logo.png')}}" /></a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user and current_user.is_authenticated() %}
            <li><a href="{{ url_for('security-frontend.index') }}">
                {% if current_user.avatar %}
                <span><img width="20" height="20" src="{{current_user.avatar}}" class="img-rounded"></span>
                {% else %}
                <span class="glyphicon glyphicon-user"></span>
                {% endif %}
                    {{current_user.nickname or current_user.username or current_user.email}}
            </a>
            </li>
            {% if current_user.canAdmin() %}
            <li><a href="/admin"><span class="glyphicon glyphicon-cog"></span> {{_('Admin')}}</a></li>
            {% endif %}
            <li><a href="{{ url_for('security.logout', next=request.path) }}"><span class="glyphicon glyphicon-log-out"></span> {{_('Exit')}}</a></li>
            {% else %}
            <li><a href="{{ url_for('security.login', next=request.path) }}"><span class="glyphicon glyphicon-log-in"></span> {{_('Login')}}</a></li>
            {% if security.registerable %}
            <li><a href="{{ url_for_security('register') }}">{{_('Signup')}}</a></li>
            {% endif %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">更多<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% if security.recoverable %}
            <li><a href="{{ url_for_security('forgot_password') }}">{{_('Forget paswword')}}</a></li>
            {% endif %}
            {% if security.confirmable %}
            <li><a href="{{ url_for_security('send_confirmation') }}">{{_('Activate account')}}</a></li>
            {% endif %}
        </ul>
    </li>


    {% endif %}
</ul>
</div>
</div><!-- /.container -->
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">清远大学城</h1>
        <div class="text-center"><img src="{{url_for('static', filename='images/full-logo.png')}}" alt="0763dxc" class=""></div>
        <p class="text-center"><h2 class="text-center">这里的生活，HAVE YOU, WITH ME!</h2></p>
        <div>
            <ul class="nav nav-pills nav-justified">
                <li role="presentation"><h2 class="text-center"><a href="{{url_for('job.list_job')}}">工作兼职</a></h2></li>
                <li role="presentation"><h2 class="text-center"><a href="{{url_for('carpool.list_carinfo')}}">拼车包车</a></h2></li>
                <li role="presentation"><h2 class="text-center"><a href="{{url_for('blog.list_blog', category=1)}}">校园新闻</a></h2></li>
                <li role="presentation"><h2 class="text-center"><a href="{{url_for('blog.list_blog', category=2)}}">校园生活</a></h2></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}