{% extends "index/base.html" %}

{% block sublogo %}
<a class="navbar-brand" href="{{ url_for('xiaoyuan.index') }}">{{_('Xiaoyuan')}}</a>
{% endblock sublogo %}

{% block breadpiece %}
{{super()}}
<li><a href="{{url_for('xiaoyuan.index')}}">Xiaoyuan</a></li>
{% endblock breadpiece %}

{% block actionbar %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right" style="margin-bottom: 12px">
            <a href="{{url_for('xiaoyuan.send_msg')}}" type="button" class="btn btn-success">{{_('Send message')}}</a>
        </div>
    </div>
</div>
{% endblock actionbar %}

{% block sidebar %}
<a href="{{url_for('.list_msg')}}">{{_('Inbox')}} <span class="badge">{{ unread_cnt }}/{{msg_cnt}}</span></a>
{% endblock sidebar %}