{% extends "security/profile.html" %}
{% from "macros/_pager.html" import render_pager %}

{% block subtitle %}
班级通知
{% endblock subtitle%}

{% block rightmainactionbar %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right" style="margin-bottom: 12px">
            <a href="{{url_for('.list_myclass')}}" type="button" class="btn btn-primary">返回班级列表</a>
        </div>
    </div>
</div>
{% endblock rightmainactionbar %}

{% block rightmain %}

<div class="row">
    <div class="col-md-12">
        <h3>通知列表</h3>
        <hr/>
        {% for notice in notices.items%}
        <div class="row">
            <div class="col-md-8">
                <a href="{{url_for('.detail_notice', notice_id=notice.id)}}">{{notice.title or '无标题'}}</a>
                <span class="small text-right"> [发布时间：{{momentjs(notice.create_at).format('LL')}}]</span>
            </div>
        </div>
        {% else %}
        没有通知
        {% endfor %}
    </div>
</div>
<!--pager-->
<div class="row">
    <div class="col-md-12">
    {{render_pager(notices, url_for('.list_notice', class_id=class_id)) }}
    </div>
</div>
{% endblock rightmain %}