{% extends "blog/base.html" %}

{% from "macros/_pager.html" import render_pager %}



{% block actionbar %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right" style="margin-bottom: 12px">
            {##% if has_right('create', 'blog', 'blog') %#}
            {% if category==5 and has_role('校园通知发布者') %}
                <a href="{{url_for('.create_blog', category=category)}}" type="button" class="btn btn-success">发布新通知</a>
            {% endif %}
            {% if category != 5 %}
                <a href="{{url_for('.create_blog', category=category)}}" type="button" class="btn btn-success">我要发布</a>
            {% endif %}

            {##% endif %#}
        </div>
    </div>
</div>
{% endblock actionbar %}

{% block rightmain %}
<div class="row">
    <div class="col-md-12 item">
    {% for blog in blogs.items %}
        <div class="row">
            <div class="col-md-10">
                <a href="{{url_for('.detail_blog', blog_id=blog.id, category=category)}}">
                    <h4 class="list-group-item-heading" >
                        {% if blog.category_id==7 %}
                            {{ blog.content }}
                        {% else %}
                            {{blog.title}}
                        {% endif %}
                    </h4>
                    <!--<p class="list-group-item-text">...</p>-->
                </a>
            </div>
            <div class="col-md-2">
                {# 有权限才可以编辑 #}
                <div class="edit-btns hidden">
                {#
                    {% if blog.user == current_user %}
                    <button type="button" data-del-id="{{blog.id}}" class="btn btn-danger btn-xs btn-delete">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    {% endif %}
                    {% if blog.user == current_user %}
                    <a href="{{url_for('.change_blog', blog_id=blog.id, category=category)}}" type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    {% endif %}
                 #}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <small>{{ blog.user.validname() }} 发表于{{momentjs(blog.update_at or blog.create_at).format_utc('LLLL')}}</small>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<!--pager-->
<div class="row">
    <div class="col-md-12">
    {{render_pager(blogs,'.list_blog', category=category) }}
    </div>
</div>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
$(function(){
    var blogId = 0;
    $('.btn-delete').click(function(){
        blogId = $(this).attr('data-del-id');
        $('#infoModal').modal();
    });

    $('.btn-ok').click(function(){
        url = "{{url_for('.delete_blog', blog_id=0, category=category)}}";
        pos = url.lastIndexOf('/');
        url_delete = url.substr(0,pos+1) + blogId;
        location.pathname = url_delete;
    });

    $('.item').mouseover(function(){
        $(this).find('.edit-btns').removeClass('hidden');
    });

    $('.item').mouseout(function(){
        $(this).find('.edit-btns').addClass('hidden');
    });
});
</script>
{% endblock pagescript%}