
{% macro render_field(field) %}
<div class="form-group">
    {{field.label(class="control-label col-sm-4")}}
    <div class="col-sm-8">
        <!--{{ gettext(field.label)}}-->
        {{ field(class="form-control") }}
    </div>
</div>
{% endmacro %}

{% macro render_error(field) %}
    {% if field.errors %}
    <div class="alert alert-danger">
        <ul class="list-unstyled">
        {% for error in field.errors %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro%}

{% macro render_form(form, action, form_name, readonly=()) %}
<form class="form-horizontal" method="post" action="{{action}}" name="{{form_name}}">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {%- if field.name not in ('id', 'csrf_token')%}
            <div class="form-group">
                {{ field.label }}
                {%if field.flags.required%}(必填){%endif%}
                    {% if field.name in readonly%}
                        {{field(class="form-control", disabled="true", placeholder=field.description or field.label.text)}}
                    {%else%}
                        {{field(class="form-control", placeholder=field.description or field.label.text)}}
                    {%endif%}
                {{- render_error(field) }}
            </div>
            {#{% endif %}#}
        {% endif -%}
    {% endfor %}
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{_('Submit')}}</button>
    </div>
</form>
{% endmacro %}

{% macro render_formdata(formdata, action_url) %}{##以form的内容显示成普通值#}
<div class="row">
    <div class="col-md-12">
{{ formdata.hidden_tag() }}
{% for field in formdata %}
    <div class="row">
    {%- if field.name not in ('id', 'csrf_token', 'captcha')%}
        <div class="col-md-2 text-right">
        <strong>{{ field.label.text }}：</strong>
        </div>
        <div class="col-md-10">
        {%if field.choices%}
            {%for choice in field.choices%}
                {% if choice[0] == field.data %}
                {{choice[1]}}
                {%endif%}
            {%endfor%}
        {%else%}
            {% if field.data %}{{ field.data }}{%endif%}
        {% endif -%}
        </div>
    {%endif%}
    </div><!--row-->
{% endfor %}
    </div>
</div>
{% if action_url %}
<div class="row">
    <div class="col-md-12">
        <div class="form-group text-center">
            <a href="{{action_url}}" class="btn btn-lg btn-primary" type="submit">修改</a>
        </div>
    </div>
</div>
    {% endif %}

{% endmacro %}
