{% extends "security/profile.html" %}
{% from "macros/fieldmacros.html" import render_form %}

{% block rightmain %}
    {{render_form(form, aciton_url, 'profile_form', readonly)}}
{% endblock rightmain %}

<!-- 本页js -->
{% block pagescript %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/3partylib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}"></link>
    <script src="{{ url_for('static', filename='base/3partylib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='base/3partylib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $("._datetime").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                minView:2,
                language: 'zh-cn'
            });
        });
    </script>
{% endblock pagescript%}