{% extends "security/base.html" %}

{% block subtitle%}
我的主页
{% endblock subtitle %}

{% block sidebar %}
<div data-spy="affix">
    <ul class="list-group">
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('security-frontend.detail_profile', user_id=current_user.id)%}active{%endif%}" href="{{ url_for('security-frontend.detail_profile', user_id=current_user.id) }}">个人中心</a>
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('security-frontend.list_sysmessages')%}active{%endif%}" href="{{ url_for('security-frontend.list_sysmessages') }}">系统消息</a>
        {% if not current_user.openid %}
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for_security('change_password')%}active{%endif%}" href="{{ url_for_security('change_password') }}">{{_('Change password')}}</a>
        {% endif %}
        {% if current_user.pub_jobs %}
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('job.list_publisedjobs', status=1)%}active{%endif%}" href="{{ url_for('job.list_publisedjobs', status=1) }}">{{_('My published jobs')}}</a>
        {% endif %}
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('blog.list_profileblogs', category=5)%}active{%endif%}" href="{{ url_for('blog.list_profileblogs', category=5) }}">我的文章</a>
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('blog.list_auditblogs', page=1)%}active{%endif%}" href="{{ url_for('blog.list_auditblogs', page=1) }}">待审核的文章</a>
        <!--<li class="list-group-item"><a href="{{ url_for('job.list_publisedjobs', status=1) }}">我的收藏</a></li>-->
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('xiaoyuan.list_myclass')%}active{%endif%}" href="{{ url_for('xiaoyuan.list_myclass') }}">我的班级</a>
        {% if current_user.class_meminfo %}
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('xiaoyuan.detail_classmemberinfo', userid=current_user.id)%}active{%endif%}" href="{{ url_for('xiaoyuan.detail_classmemberinfo', userid=current_user.id) }}">我在班级的信息</a>
        {% endif %}
        {{current_user.class_assocs.is_charger}}
        {% if is_charger() %}
        <a class="list-group-item {% if request.environ['PATH_INFO']==url_for('xiaoyuan.list_class_apply')%}active{%endif%}" href="{{ url_for('xiaoyuan.list_class_apply') }}">班级申请</a>
        {% endif %}
    </ul>
</div>
{% endblock sidebar %}

