{% extends "security/base.html" %}

{% from "macros/fieldmacros.html" import render_error %}

{% block title %}
{{_('Signup')}}
{% endblock title%}

{% block container %}

<div class="col-md-12">

    <div class="well">
        <form class="form-horizontal" method="post" action="{{ url_for_security('register') }}" name="register_user_form">
            {{ register_user_form.hidden_tag() }}
            <h2>{{_('Register info')}}</h2>
            <div class="form-group">
                {{register_user_form.email(class="form-control", placeholder=_("Email"))}}
                {{render_error(register_user_form.email)}}
            </div>
            <div class="form-group">
                {{register_user_form.password(class="form-control", placeholder=_("Password"))}}
                {{render_error(register_user_form.password)}}
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{_('Submit')}}</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}
